# Лабораторная работа к лекции 1
Ваше имя: Шведова Софья

Ваш адрес электронной почты: shvedovass@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [11]:
#1
int_number = 666
float_number = 66.6
sum = int_number + float_number
print("№1",type(sum))
# Тип будет float

#2
int_number1 = 5
int_number1 = "float"
print("№2", type(int_number1))
# Тип будет str

#3
stroka1 = "Привет,"
stroka2 = " как дела?"
result = stroka1 + stroka2
print("№3", result)

#4
str3 = "777"
number = 7.3
int_number2 = 2
sum1 = str3 + number
sum2 = str3 + int_number2
# Будет ошибка в двух случаях, потому что сложение для разных типов данных не может быть возможным

№1 <class 'float'>
№2 <class 'str'>
№3 Привет, как дела?

TypeError: can only concatenate str (not "float") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [15]:
#1
def double_number(number):
    result = number * 2
    return result

In [16]:
#1.2
def add_numbers(num1, num2):
    result = num1 + num2
    return result

In [14]:
#2 Если изменить отступ в коде,
# то это может привести к ошибке синтаксиса. В Python отступы определяют блоки кода
def add_numbers(num1, num2):
  result = num1 + num2
    return result

IndentationError: unexpected indent (<ipython-input-14-e98299783725>, line 5)

In [17]:
#3. Это вызовет ошибку NameError, потому что переменная "a" не была определена
def add_numbers(num1, num2):
    result = num1 + num2
    return result
a

NameError: name 'a' is not defined

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [18]:
#1
name = "Шведова Софья"
age_years = 20
age_months = age_years * 12
age_days = age_years * 365
specialty = "Бизнес-Информатика"

In [25]:
#2
age_string = f"Имя: {name}, Специальность: {specialty}, Возраст: {age_years} лет, или {age_months} месяцев, или {age_days} дней..."
print(age_string)

Имя: Шведова Софья, Специальность: Бизнес-Информатика, Возраст: 20 лет, или 240 месяцев, или 7300 дней...

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [4]:
def calculate_result(num1, num2):
    constant = 10
    result = (num1 * num2) / constant
    return result


print(calculate_result(2, 3))
print(calculate_result(5, 6))
print(calculate_result(10, 8))

0.6
3.0
8.0

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [8]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [13]:
# Функция zip () используется для совмещения двух и более списков в один
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

for person, books in zip(people, books_read):
    if books == 0:
        print(f"{person} не читал ни одной книги!")
    else:
        print(f"{person} прочитал {books} книг")

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [14]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
def check_books(people, books_read):
  for person, books in zip(people, books_read):
    if books == 0:
      print(f"{person} не читал ни одной книги!")
    else:
      print(f"{person} прочитал {books} книг")


check_books(people, books_read)

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [15]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

def check_books(people, books_read):
    sorted_books = sorted(zip(books_read, people), reverse=True)
    for books, person in sorted_books[:3]:
        print(f"{person} прочитал {books} книг")

check_books(people, books_read)

Yulia прочитал 15 книг
Krishnang прочитал 12 книг
Robert прочитал 10 книг